body {
  background: white;
  font-family: times!important;
  font-size: 20px!important;
}

.pdf {
  height: auto;
  margin: 5vw;
  padding: 50px;
  background: white;
  box-shadow: 1px 1px 2px 1px grey;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: right;
}

.question-row {
  padding-top: 30px;
}

.question-left > p {
  text-align: left;
  padding-left: 75px;
  padding-bottom: 50px;
}

.question-right > p {
  text-align: left;
  padding-left: 75px;
  padding-bottom: 50px;
}

.question-left > h5 {
  text-align: left;
  padding-left: 75px;
  padding-bottom: 0px;
}

.question-right > h5 {
  text-align: left;
  padding-left: 75px;
  padding-bottom: 0px;
}
