body {
  background-image: linear-gradient(to bottom, #4f58d1, #5478bf, #89bdc9);
}

.nav-left {
  z-index: 10;
}

.nav-right {
  z-index: 10;
}

.topics-top {
  padding: 150px 20%;
  background: #fcfcfc;
  margin: 60px 60px 0 60px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.topics-header {
  font-family: Courier, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  color: black;
  text-transform: uppercase;
}

.topics-body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.25;
  color: black;
}

.topics {
  border-top: solid 1px #d1d1d1;
  margin: 0 60px 0 60px;
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 50px 3% 35px 3%;
  background: #fcfcfc;
}

/* .topics-summary {
  position: relative;
  z-index: 2;
  border-bottom: solid 1px #d1d1d1;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 1.25;
  color: black;
  background: #fcfcfc;
  padding: 50px;
} */

.btn-topic {
  text-align: left;
  margin-bottom: 40px;
  border: 0;
  font-family: "Courier", "sans-serif";
  font-size: 0.9rem;
  padding: 5px 12px;
  background: #e8e8e8;
  color: black;
  opacity: 0.85;
  width: 100%;
  height: 75%;
  line-height: 20px;
}

.btn-topic:hover {
  cursor: pointer;
  background: #dedede;
  transition: background 0.1s;
}

.btn-submit {
  text-align: center;
  margin-bottom: 50px;
  border: solid 1px;
  border-color: black;
  font-family: "Courier", "sans-serif";
  font-size: 1.0rem;
  padding: 0px 20px;
  background: transparent;
  color: black;
  opacity: 0.85;
  width: auto;
  height: 70%;
}

.btn-submit:hover {
  cursor: pointer;
  background: black;
  color: white;
  transition: background 0.5s, color 0.5s;
}

.topics-submit {
  margin: 0 60px 0 60px;
  padding-top: 25px;
  position: relative;
  z-index: 2;
  background: #fcfcfc;
  border-top: solid 1px #d1d1d1;
}

.footer {
  background: none;
  padding-bottom: 60px;
}

.selected {
  background: #b6e0c1;
}

.selected:hover {
  cursor: pointer;
  background: #b6e0c1;
  transition: background 0.1s;
}

@media (max-width: 600px) {
  .topics-header {
    font-size: 2rem;
  }
  .topics-body {
    font-size: 1rem;
  }
  .topics-top {
    margin: 60px 30px 0 30px;
  }
  .topics {
    margin: 0 30px 0 30px;
  }
  .topics-submit {
    margin: 0 30px 0 30px;
  }
}

@media (max-width: 450px) {
  .topics-top {
    padding: 100px 5%;
  }
  .topics-header {
    font-size: 1.75rem;
  }
  .topics-body {
    font-size: 0.75rem;
  }
  .btn-topic {
    font-size: 0.75rem;
  }
}
