.topics-top {
  padding: 150px 20%;
  background-image: linear-gradient(to right bottom, #99f0df, #baded7);
  text-align: center;
}

.topics-header {
  font-family: Courier, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  color: black;
  text-transform: uppercase;
}

.topics-body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.25;
  color: black;
}

.topics {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 50px 4% 0px 4%;
  background: #fcfcfc;
}

.topics-summary {
  position: relative;
  z-index: 2;
  /* border-top: solid 1px black; */
  border-bottom: solid 1px #d1d1d1;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 1.25;
  color: black;
  background: #fcfcfc;
  padding: 50px;
}

.btn-topic {
  margin-bottom: 50px;
  border: 0;
  font-family: "Courier";
  font-size: 1.0rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 3px 20px;
  background: #e8e8e8;
  color: black;
  opacity: 0.85;
  width: 90%;
}

.btn-topic:hover {
  cursor: pointer;
  background: #dedede;
  transition: background 0.1s;
}

.topics-submit {
  padding-top: 50px;
  position: relative;
  z-index: 2;
  background: #fcfcfc;
  border-top: solid 1px #d1d1d1;
  border-bottom: solid 1px #d1d1d1;
}

#topics-list {
  text-transform: lowercase;
}

.selected {
  background: #b6e0c1;
}

.selected:hover {
  cursor: pointer;
  background: #a1cfac;
  transition: background 0.1s;
}
