body, #container {
  background-color: lightblue!important;
}

#container {
  margin: auto;
}

#pdf {
  font-size: 16px;
  margin: 50px;
  background: white;
  box-shadow: 1px 1px 2px 1px grey;
  padding: 75px;
}

.title {
  font-family: times;
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
}

.topic {
  font-family: times;
  font-size: 24px;
  text-align: center;
  padding-bottom: 10px;
}

.directions {
  font-size: 18px;
  font-family: times;
}

.number {
  width: 0px!important;
  padding-right: 20px!important;
}

.prompt, .answer {
  font-size: inherit;
  font-family: times;
  margin-left: 10px!important;
  margin-bottom: 25px;
}

.question-image {
  border: 1px solid black;
}

.latex {
  font-size: inherit;
  padding-left: 0px!important;
  padding-bottom: 5px;
}

hr {
  padding-bottom: 25px;
}
